@import './styles';

.Widget {
  position: relative;
  width: 870px;
  margin: auto;

  .button {
    @include button-normal();
    z-index: 3;
    position: absolute;
    top: calc(50% - #{$font-size-button-normal-block-half});

    &_type-next {
      right: -10%;
    }

    &_type-back {
      left: -10%;
    }
  }

  .comments {
    @include display-flex-center();
    height: $widget-block-normal;
  
    .positioning {
      display: inline-block;
    }

    .positioning:nth-child(1) {
      z-index: 0;
      transform: rotate(-60deg) scale(0.01) translate(1500%, 18500%);
    }
    .positioning:nth-child(2) {
      z-index: 0;
      transform: rotate(-40deg) scale(0.7) translate(60%, 120%);
    }
    .positioning:nth-child(3) {
      z-index: 1;
      transform: rotate(-20deg) scale(0.9) translate(35%,25%);
    }
    .positioning:nth-child(4) {
      z-index: 2;
    }
    .positioning:nth-last-child(3) {
      z-index: 1;
      transform: rotate(20deg) scale(0.9) translate(-35%,25%);
    }
    .positioning:nth-last-child(2) {
      z-index: 0;
      transform: rotate(40deg) scale(0.7) translate(-60%, 120%);
    }
    .positioning:nth-last-child(1) {
      z-index: 0;
      transform: rotate(60deg) scale(0.01) translate(-1500%, 18500%);
    }
  }
  
  .logo {
    @include display-flex-center();
    margin-top: 20px;
  }
  
  .stars {
    margin-top: 30px;
  }
}
