@import '../styles';

.Comment {
  .title {
    @include text-primary();
    @include star-line-spacer();
    
    display: inline-block;
    font-weight: bold;
  }

  .rating {
    float: right;
  }

  .sub-title {
    @include text-secondary();
  }

  .body {
    @include text-primary();
  }
}
