@import '../styles';

.Comment {
  border: $review-block-border;
  border-radius: $review-block-border-radius;
  padding: $spacing;
  background-color: $color-background;
  
  &_size-normal {
    height: $review-block-normal;
    width: $review-block-normal;
  }

  .header {
    height: $review-block-normal-header;
    width: $review-block-normal;
    overflow: hidden;

    .title {
      @include text-title();
      @include star-line-spacer();
      
      display: inline-block;
    }

    .rating {
      float: right;
    }

    .sub-title {
      @include text-secondary();
    }
  }

  .body {
    @include text-primary();

    height: $review-block-normal-body;
    width: $review-block-normal;
    overflow: auto;

    .title {
      @include text-primary();
      font-weight: bold;
      padding-bottom: $spacing;
    }
  }
}
